<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="document-item.html">
<link rel="import" href="db-service.html">
<link rel="import" href="shared-styles.html">

<dom-module id="control-app">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment iron-flex-factors" >
      :host {
        display:block;
      }
    </style>

    <db-service apikey="{{apikey}}"></db-service>
    <iron-ajax
      id="getAjax"
      params$='{"apikey":"{{apikey}}"}'
      on-response="_handle">
    </iron-ajax>

    <div class="layout vertical">
     <div>
       <paper-input label$="Query {{db}} [Start Key]" value="{{startKey}}"></paper-input>
       <paper-button class="indigo" on-click="_start">Query</paper-button>
     </div>
     <div id="content">
     </div>
    </div>
    
  </template>
  <script>
    Polymer({
      is:'control-app',
      properties :{
      },
      _start: function() {
        this.$.getAjax.url = '/api/dbs/'+this.db;
        this.$.getAjax.params['gte'] = this.startKey;
        this.$.getAjax.params['lt'] = this.startKey+'\u00ff';
        this.$.getAjax.generateRequest();
        var node = this.$.content;
        while(node.firstChild) {
          node.removeChild(node.firstChild);
        }
      },
      _handle: function(e) {
        var response = e.detail.response;
        var thisObj = this;
        response.forEach(function(data) { 
          var ele=document.createElement('document-item');
          ele.key= data.key;
          ele.value = data.value;
          thisObj.$.content.appendChild(ele);
        });
      }
    });
  </script>
</dom-module>
