<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="document-item">
  <template>
    <style is="custom-style"
      include="iron-flex iron-flex-alignment iron-flex-factors">
      :host {
        display:block;
      }
      .containner {
        background-color:#efefef;
        margin:15px;
        spacing:10px;
        padding:5px;
      }
      .keyid {
        font:@var(--paper-font-body2);
        margin-left:20px;
      }
      #textArea {
        width:60%;
        margin-left:20px;
        background-color:white;
        font:@var(--paper-font-body2);
      }
    </style>
    <div class="layout vertical containner">
      <div class="keyid">{{key}}</div>
      <div class="flex">
        <iron-autogrow-textarea id="textArea" value="{{_format(value)}}">
        </iron-autogrow-textarea>
      </div>  
     </div>
    </div>
  </template>
  <script>
    Polymer({
      is:'document-item',
      properties : {
        key:String,
        value:Object
      },
      _format : function(obj) {
        if((typeof obj) === "object") {
          return JSON.stringify(obj,null,2);
        } else {
          return obj;
        }
      }
    });
  </script>
</dom-module>
