<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="get-all.html">
<link rel="import" href="select-db.html">
<link rel="import" href="db-service.html">
<link rel="import" href="shared-styles.html">

<dom-module id="index-app">
  <template>
    <style include="shared-styles">
    </style>
    <db-service apikey="{{apikey}}"></db-service>
    <h3>Indexing <span>{{db}}</span></h3>
    <paper-input label="Indexing name" value="{{indexName}}"></paper-input>
    <paper-input label="Attribute Order List (separate by '.' comma)" 
       value="{{attributeList}}"></paper-input>
    <paper-button class="indigo" on-click="_start">Start</paper-button>
    <div>
      Total Records <span>{{total}}</span>
    </div>

    <get-all id="getAll" db="{{db}}" 
       total-records="{{total}}" on-data="_handleData">
    </get-all>

    <iron-ajax
      id="createDb"
      method="PUT"
      content-type="application/json"
      body='{}'
      params$='{"apikey":"{{apikey}}"}'
      on-response="_handleCreate">
    </iron-ajax>

    <iron-ajax
      id="post"
      method="POST"
      content-type="application/json"
      params$='{"apikey":"{{apikey}}"}'
      on-response="_handlePosted">
    </iron-ajax>
    
  </template>
  <script>
    Polymer({
      is:'index-app',
      properties :{
      },
      _start: function() {
        if(this.db) {
          this.$.createDb.url="/api/dbs/"+this.db+"_index";
          this.$.createDb.generateRequest();
        }
      },
      _handleCreate: function(e) {
        var response = e.detail.response;
        if(response.ok) {
          if(this.attributeList && this.indexName) {
            this.key_list = this.attributeList.split(',');
            this.$.getAll.start();
          }
        }
      },
      _handleData: function(e) {
        var data = e.detail;
        var key_list = this.key_list;
        var index_key = this.indexName+':';
        key_list.forEach(function(key) {
          index_key+=key+':'+data.value[key]+':';
        });
        index_key+=data.key;
        this.$.post.url="/api/dbs/"+this.db+"_index/"+index_key;
        this.$.post.body = {'.id':data.key};
        this.$.post.generateRequest();
      },
      _handlePosted:function(e) {
        console.log(e);
      }
    });
  </script>
</dom-module>
