<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="db-service.html">

<dom-module id="select-db">
  <template>
    <style>
      :host {
        display:block;
      }
    </style>
    <db-service apikey="{{key}}"></db-service>
    <iron-ajax
      auto
      id="ajax"
      url="/api/dbs"
      handle-as="json"
      params$='{"apikey":"{{key}}"}'
      last-response="{{lResponse}}">
    </iron-ajax>
    
    <paper-dropdown-menu id="dropdown" label="Database" value="{{db}}">
      <paper-listbox 
        class="dropdown-content"
        selected-attribute="id">
        <template is="dom-repeat" items="{{lResponse.dbs}}"> 
          <paper-item id="{{item}}">{{item}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu>
    
  </template>
  <script>
    Polymer({
      is:'select-db',
      properties :{
        db: {
         type:String,
         notify:true
        }
      },
      query:function() {
        console.log('query');
        this.$.dropdown._setSelectedItem(null);
        this.$.dropdown._setSelectedItem();
        this.$.ajax.generateRequest();
      }
    });
  </script>
</dom-module>
